*.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url("https://c.files.bbci.co.uk/304E/production/_121966321_bolsonarogetty.jpg");
    background-size: cover;
    border: solid black 3px;
    margin-left: 15%;
    
    
}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", monospace;
    line-height: 32.97px;
    font-size: 25px;
    font-weight: 400;
    
}

.nome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", monospace;
    line-height: 19.78px;
    font-size: 15px;
    font-weight: 400;
}

.quadrado {
height: 271px ;
width: 252px ;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/70/2022-09-07_Desfile_C%C3%ADvico-Militar_por_ocasi%C3%A3o_das_Comemora%C3%A7%C3%B5es_do_Bicenten%C3%A1rio_da_Independ%C3%AAncia_do_Brasil_-_52341366768_%28cropped%29.jpg);
background-size: cover;
margin-left: 15%;
border-radius: 35%; 
}

.quadrado2 {
    height: 271px ;
    width: 252px ;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/70/2022-09-07_Desfile_C%C3%ADvico-Militar_por_ocasi%C3%A3o_das_Comemora%C3%A7%C3%B5es_do_Bicenten%C3%A1rio_da_Independ%C3%AAncia_do_Brasil_-_52341366768_%28cropped%29.jpg);
    background-size: cover;
    margin-left: 15%;
    border-radius: 35%; 
    }
    .quadrado3 {
        height: 271px ;
        width: 252px ;
        background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/70/2022-09-07_Desfile_C%C3%ADvico-Militar_por_ocasi%C3%A3o_das_Comemora%C3%A7%C3%B5es_do_Bicenten%C3%A1rio_da_Independ%C3%AAncia_do_Brasil_-_52341366768_%28cropped%29.jpg);
        background-size: cover;
        margin-left: 15%;
        border-radius: 35%; 
        }
        
        .quadrado, .quadrado2, .quadrado3{
            margin-top: 30px;
            margin-right: 5%;
        }
        @media(min-width: 768px) {
           .nome{
            
           }
        }

        
    
