.quadradao{
    margin-right: 130px;
}

*.foto {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url("https://c.files.bbci.co.uk/304E/production/_121966321_bolsonarogetty.jpg");
    background-size: cover;
    border: solid black 3px;
    margin-left: 15%;


}

.nome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", monospace;
    line-height: 32.97px;
    font-size: 25px;
    font-weight: 400;
    margin-left: 130px;

}

.nome2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto", monospace;
    line-height: 19.78px;
    font-size: 15px;
    font-weight: 400;
    margin-left: 130px;
}

.quadradao2{
    margin-right: 120px;
}

.quadrado {
    height: 271px;
    width: 252px;
    background-size: cover;
    margin-left: 15%;
    border-radius: 15%;
    background-color: blue;
}

.quadrado2 {
    height: 271px;
    width: 252px;
    background-size: cover;
    margin-left: 15%;
    border-radius: 15%;
    background-color: blue;
    margin-top: 30px;
}

.quadrado3 {
    height: 271px;
    width: 252px;
    background-size: cover;
    margin-left: 15%;
    border-radius: 15%;
    margin-top: 30px;
    background-color: blue;
}

.img1 {
    width: 100px;
    height: auto;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 40px;
}


.baixo {
    background-color: red;
    width: 252px;
    height: 75px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img2 {
    width: 100px;
    height: auto;
    margin-left: 75px;
    margin-bottom: 20px;
    margin-top: 40px;
}


.baixo2 {
    background-color: red;
    width: 252px;
    height: 75px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img3 {
    width: 100px;
    height: auto;
    margin-left: 75px;
    margin-bottom: 30px;
    margin-top: 50px;
}


.baixo3 {
    background-color: red;
    width: 252px;
    height: 75px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media(min-width: 768px) {
    .quadradao{
        display: flex;
        justify-content: center;
        align-items: center;    
        width: 1350px;
        height: 300px;
        margin-bottom: 50px;
    }
    
    *.foto {
        width: 250px;
        height: 250px;
        border-radius: 50%;
        background-image: url("https://c.files.bbci.co.uk/304E/production/_121966321_bolsonarogetty.jpg");
        background-size: cover;
        border: solid black 3px;
        display: flex;
        justify-content: center;
        align-items: center;    
    
    }
    
    .nome {
        flex-direction: column;
        font-family: "Roboto", monospace;
        line-height: 32.97px;
        font-size: 25px;
    
    }
    
    
    .quadradao2{
        margin-right: 120px;
    }
    
    .quadrado {
        height: 271px;
        width: 252px;
        background-size: cover;
        margin-left: 15%;
        border-radius: 15%;
        background-color: blue;
    }
    
    .quadrado2 {
        height: 271px;
        width: 252px;
        background-size: cover;
        margin-left: 15%;
        border-radius: 15%;
        background-color: blue;
        margin-top: 30px;
    }
    
    .quadrado3 {
        height: 271px;
        width: 252px;
        background-size: cover;
        margin-left: 15%;
        border-radius: 15%;
        margin-top: 30px;
        background-color: blue;
    }
    
    .img1 {
        width: 100px;
        height: auto;
        margin-left: 75px;
        margin-bottom: 20px;
        margin-top: 40px;
    }
    
    
    .baixo {
        background-color: red;
        width: 252px;
        height: 75px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .img2 {
        width: 100px;
      height: auto;
      margin-left: 75px;
      margin-bottom: 30px;
  }
  
    
    .baixo2 {
        background-color: red;
        width: 252px;
        height: 75px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .img3 {
        width: 100px;
        height: auto;
        margin-left: 75px;
        margin-bottom: 30px;
        margin-top: 50px;
    }
    
    
    .baixo3 {
        background-color: red;
        width: 252px;
        height: 75px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

}